In [1]:
import pandas as pd

# FSI DATA

In [ ]:
## Pivot FSI data

In [2]:
fsi = pd.read_excel("Country-level/Sources/FSI_MySQL_dump/20191216_Matrix_Full.xlsx")
fsi.head()

,Period,Jurisdiction,Info_ID,DataType,Question,Lkup_Code,Lkup_Text,Nmbr,Text
0,18,AD,2,Lkup,Jurisdiction Status,2,Dependent Territory,NaN,NaN
1,20,AD,2,Lkup,Jurisdiction Status,2,Dependent Territory,NaN,NaN
2,18,AD,4,Num,Population,-4,-/-,85660.000,NaN
3,18,AD,6,Num,HDI Rank: Human Development Index Rank,-4,-/-,34.000,NaN
4,18,AD,7,Num,HDI Value: Human Development Index Value,-4,-/-,0.845,NaN